In [1]:
# create dataframe
import pandas as pd

cars = {'Brand': ['Honda Civic','Toyota Corolla','Ford Focus','Audi A4'],
        'Price': [26500,25000,29000,35000]
        }

df = pd.DataFrame(cars, columns= ['Brand', 'Price'])

print (df)

            Brand  Price
0     Honda Civic  26500
1  Toyota Corolla  25000
2      Ford Focus  29000
3         Audi A4  35000

In [2]:
# insert dataframe to csv
import csv
df.to_csv("/Users/USER/Desktop/csvout.csv", index=False)

In [3]:
import csv 
import pymysql
mydb = pymysql.connect(host='XXX.XXX.XXX.XXX', port=3306, user='XXXXX', passwd='XXXXX', db='XXXXXX', charset='utf8mb4')  
# insert csv to mysql
def insert_to_mysql(filepath):
    cursor = mydb.cursor() 
    csv_data = csv.reader(filepath)
    with open(filepath, newline='') as csvfile:
        csv_data = csv.reader(csvfile, delimiter=',')
        next(csv_data, None)
        for row in csv_data:
            print(row)
            cursor.execute('REPLACE INTO tb_csv1(Brand, Price) VALUES(%s, %s)', row)
    mydb.commit() 
    cursor.close()
    print("Successfully insert.")


insert_to_mysql('/Users/USER/Desktop/csvout.csv')

['Honda Civic', '26500']
['Toyota Corolla', '25000']
['Ford Focus', '29000']
['Audi A4', '35000']
Successfully insert.

In [4]:
# insert dataframe to mysql
import MySQLdb
import pandas as pd
from sqlalchemy import create_engine

user='XXXXXX
password='XXXXXX'
host='XXX.XXX.XXX.XXX'
port=3306
db='XXXXXX'
            
def insert_to_mysql(df):
    engine = create_engine(str(r"mysql+mysqldb://%s:" + '%s' + "@%s/%s") % (user, password, host, db))

    try:
        df.to_sql('tb_csv1',con=engine,if_exists='replace',index=False) #if_exists='append'
        print("Successfully insert.")
    except Exception as e:
        print(e)

        
insert_to_mysql(df)

Successfully insert.