In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import preprocessing, linear_model
from sklearn.model_selection import train_test_split

In [2]:
# import data and omit NA
titanic = pd.read_csv("/Users/USER/Desktop/For-Python/datasets_11657_16098_train.csv",encoding="big5").dropna()
titanic.head()
titanic_df2 = titanic[['Sex','Pclass','Age','Survived']]
titanic_df2.head()

       Sex  Pclass   Age  Survived
1   female       1  38.0         1
3   female       1  35.0         1
6     male       1  54.0         0
10  female       3   4.0         1
11  female       1  58.0         1

In [3]:
encoder = preprocessing.LabelEncoder()
titanic_df2['Sex'] = encoder.fit_transform(titanic_df2['Sex'])
titanic_df2.head()

<ipython-input-3-00f429551201>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  titanic_df2['Sex'] = encoder.fit_transform(titanic_df2['Sex'])

    Sex  Pclass   Age  Survived
1     0       1  38.0         1
3     0       1  35.0         1
6     1       1  54.0         0
10    0       3   4.0         1
11    0       1  58.0         1

In [4]:
x=titanic_df2[['Sex','Pclass','Age']]
y=titanic_df2[['Survived']]
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=56789)

In [5]:
from sklearn.preprocessing  import StandardScaler
sc = StandardScaler()
sc.fit(x_train)
x_train_nor = sc.transform(x_train)
x_test_nor = sc.transform(x_test)

In [6]:
# train a simple reg model
import sklearn.linear_model as lm
reg = lm.LinearRegression()
reg.fit(x_train_nor,y_train)
r_squared = reg.score(x_train_nor, y_train)
print(reg.coef_)
print(reg.intercept_)
print(r_squared)

[[-0.21643882 -0.07792764 -0.12900381]]
[0.6484375]
0.31319900807966433

In [7]:
# predict
reg.predict(x_test_nor)

array([[0.45926423],
       [0.91855585],
       [0.88682081],
       [0.7757482 ],
       [0.9264896 ],
       [0.90268833],
       [1.03756222],
       [1.01376094],
       [0.78368196],
       [0.35612538],
       [0.41166169],
       [0.39579417],
       [0.72814566],
       [0.25298653],
       [0.21331774],
       [0.337569  ],
       [0.69896666],
       [0.40372793],
       [0.43546296],
       [0.43546296],
       [0.27934384],
       [0.61793939],
       [0.80082749],
       [0.9264896 ],
       [0.91855585],
       [0.61525053],
       [0.74401317],
       [1.07723101],
       [0.46719799],
       [0.54653557],
       [0.96615839],
       [0.95822464],
       [0.48306551],
       [1.02962846],
       [0.81541699],
       [0.94235712],
       [0.82335075],
       [1.18830362],
       [0.79954948],
       [0.57033685],
       [0.86301954],
       [0.5227343 ],
       [0.35343652],
       [1.02962846],
       [0.48306551],
       [1.0216947 ],
       [0.89475457],
       [0.77305934],
       [0.53860181],
       [1.03756222],
       [0.39579417],
       [1.05342973],
       [1.05342973],
       [0.61793939],
       [0.5227343 ]])